celery
channels
channels-redis
Django
django-allauth
django-bulk-update-or-create
django-celery-beat
django-celery-results
django-countries
django-crispy-forms
django-debug-toolbar
django-multiselectfield
django-redis
django-tables2
dj-database-url
newsapi-python
Pillow
python-decouple
redis
