{% extends 'includes/main.html' %}
{% load static crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% if object %}Update{% else %}Add{% endif %} {{ page_title }} </h3>
                        <div class="card-toolbar">
                            {% if list_link %}
                                <a href="{{ list_link }}" class="btn btn-info">{{ page_title }} List</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% crispy form %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
.custom-control {
    width: 200px;
    float: left;
    }
{% endblock %}